@model IEnumerable<StravaApiTest.Models.UserEntity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Linked Athletes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastSyncDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastSyncDate)
        </td>
        <td>
            @Html.ActionLink("View Details", "Details", new { accessToken = item.AccessToken }) |
            @Html.ActionLink("Sync Athlete", "SyncAthleteDetails", new { accessToken = item.AccessToken }) |
            @Html.ActionLink("View Activities", "ViewActivities", new { athleteId = item.Id })
        </td>
    </tr>
}

</table>
