@model IEnumerable<com.strava.api.Activities.ActivitySummary>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activity List</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElapsedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElevationGain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateLocal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElapsedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElevationGain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDateLocal)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { athleteId = item.Athlete.Id, activityId = item.Id }) |
            @Html.ActionLink("Distance Stream", "OpenDistanceStream", new { athleteId = item.Athlete.Id, activityId = item.Id }, new { target = "_blank" }) |
            @Html.ActionLink("HeartRate Stream", "OpenHeartRateStream", new { athleteId = item.Athlete.Id, activityId = item.Id }, new { target = "_blank" }) |
            @Html.ActionLink("Velocity Stream", "OpenVelocityStream", new { athleteId = item.Athlete.Id, activityId = item.Id }, new { target = "_blank" })
        </td>
    </tr>
}

</table>
